### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

*~
._*
*.swp
.sass-cache/
.idea/
/logs/
dist/
tmp/
tags

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### CTX Boilerplate ###

# Npm & Bower modules
/node_modules/
/vendor/

# builds and test related
/build/
/coverage/
test-results.xml

# example
/example/cx
/example/google
/example/system.config.js

# schema hardlinks
*.schema

*.sublime-workspace